
body {
  background-color: black;
}

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .array-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 85%;
    padding: 10px;
  }

    .array-bar {
      width: 2px;
      margin: 0 1px;
    }

  .button-container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    padding: 10px;
  }